# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = tutorial.settings

[deploy:default]
url = http://207.246.125.75:6800/
project = tutorial

[deploy:vm1]
url = http://207.246.93.73:6800/
project = tutorial

[deploy:vm2]
url = http://149.28.237.52:6800/
project = tutorial

[deploy:vm3]
url = http://208.167.253.57:6800/
project = tutorial

[deploy:vm4]
url = http://104.207.133.51:6800/
project = tutorial

[deploy:vm5]
url = http://149.28.225.93:6800/
project = tutorial
